body {
    font-family: 'EB Garamond', serif;
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #e1f7ed;
    color: #113f3d;
}
/* Yläpalkki */
header {
    background-color: #e1f7ed;
    color: 	#113f3d;
    min-height: 60px;
    padding-top: 20px;
}

/* Sivuston sivujen lista */
header ul {
    padding: 0;
    margin: 0;
}

/* Sivuston sivujen otsikot */
header li {
    float: left;
    padding: 0 20px 0 20px;
    display: inline;
}

/* Sivuston sivujen otsikoiden linkit */
header li a {
    color: #113f3d;
    text-decoration: none;
}

/* Kaikki yläpalkin linkit reagoi hiiren päälläoloon */
header li a:hover {
    font-weight: bolder;
    color: #228580;
}

/* Yläpalkin logo */
header .logo {
    float: left;
    padding: 0;
    margin: 0 0 0 15px;
}

/* Sivuston sivujen kohdistus yläpalkissa */
header nav {
    float: right;
    margin-top: 10px;
}

/* Yläpalkin napit */
header button {
    padding: 0;
    margin-top: -10px;
    width: 120px;
    cursor: pointer;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(to right, #228580, #4ecfc9);
    color: #e1f7ed;
    border: none;
}

header button:hover {
    background: #113f3d;
    color:#e1f7ed;
}

header button a {
    color:#e1f7ed;

}

header button a:hover {
    color:#e1f7ed;
    font-weight: normal;
}

.raita {
    padding: 110px 0 110px 0;
    width: 100%;
    background: linear-gradient(to right, #228580, #4ecfc9);
    color: #e1f7ed;
    text-align: center;
}
.tekstia {
    text-align: center;
}

.kpl {
    box-sizing: 33%;
    display: inline-block;
    margin: 5%

}

.kpl h2 {
    text-align: center;
}
.ohje {
    margin:5%;
}

table {
    table-layout: fixed;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.tektia p {
    margin: 10px 0 10px 0;
}
.nappi {
    display: inline;
}
/* Eniten käytettyjen luokkien muokkausta */
#perus {
    background-color: #e1f7ed;
    color: 	#113f3d;
    padding: 50px;
    margin: 0;
    text-align: center;
}
#perus h2 {
    padding: 0;   
}

/* Napit */
#perus button {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 30px;
    background-color: #228580;
    border: solid;
    border-color:#e1f7ed;
}


/* Kun napin päällä pitää hiirtä */
#perus button:hover {
    border-color:#113f3d;
}

/* Napin linkki */
#perus button a {
    color:#e1f7ed;
    text-decoration: none;
}

/* Alapalkki */
#footer {
    background-color: #e1f7ed;
    padding-top: 40px;
    padding-bottom: 10px;
    margin:0;
    color: #113f3d;
    text-align: center;
    vertical-align: middle;
}


#footer p {
    float:inline-start;
    margin: 0;
}
.ivvlogo {
    margin-bottom: -40px;
}
